* {
    font-family: 'Courier New', monospace; 
    background: #f0f0f0;
    color: #303030;
}

a {
    color: blueviolet;
}

h1 {
    width: auto;
    text-align: center;
}

#main-title {
    margin: 0 auto;
    text-align: center;
}

#main-title h1{
    display: inline;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    #main-title h1{
      font-size: larger;
    }
}

.title-color{
    color: palevioletred;
}

#title-icons{
    font-size: xx-large;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
}

#title-icons i{
    color: palevioletred;
}


p {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
}

@media only screen and (max-width: 600px) {
    p {
      width: 95%;
    }
}

.faq-question {
    font-size: larger;
    font-weight: bolder;
}